@import url('https://fonts.googleapis.com/css?family=Crimson+Pro:300');
@import url('https://fonts.googleapis.com/css?family=Instrument+Sans:400');


body {
	font-family: "Instrument Sans",serif;
    font-size: 21pt;
    line-height: 1.2;
	padding: 1em;
	margin: 0 auto;
	width: 25em;
    color: #373F51;
    background: #FEDC97;
}


h1 {
	font-family: "Crimson Pro",sans-serif;
    font-weight: 300;
	padding: 0;
    margin-top: 1.5em;
    margin-bottom: 0;
    font-size: 4em;
}


a {
    color: #CA1551;
    text-decoration: none;
    &:hover {
        color: #4BA3C3;
    }
}


