@import url(https://fonts.googleapis.com/css?family=Work+Sans:400);
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400+700');


body {
	font-family: "Work Sans",serif;
	padding: 1em;
	margin: 0 auto;
	width: 45em;
    color: #083D77;
    background: #EBEBD3;
}

ol {
    font-size: 14pt;
}

h1 {
	font-family: "EB Garamond",sans-serif;
	padding: 0;
    margin-top: 1.5em;
    margin-bottom: 0;
    font-size: 72pt;
}


a {
    color: #A660A7;
    text-decoration: none;
}

a:hover {
    color: #083D77;
    text-decoration: none;
}

